* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 12vh;
  background-color: #ad764a;
  font-family: 'Montserrat', sans-serif;
}

.logo {
  color: #FEFEFE;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
  text-align: center;
}

.logo .bottom {
  font-size: 14px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 60%;
  font-family: 'Montserrat', sans-serif;
  z-index: 10;
}

.nav-links a:hover {
  border-bottom: 1px solid #FEFEFE;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #FEFEFE;
  text-decoration: none;
  font-size: 14px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #FEFEFE;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 12vh;
    background-color: #ad764a;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}


.top-wrapper {
  content: " ";
  display: flex;
  position: relative;
  padding-top: 5%;
  padding-bottom: 2%;
  margin-left: 145px;
  margin-right: 145px;
  line-height: 26px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

.image {
  max-width: 100%;
  height: auto;
  margin-right: 40px;
  border-radius: 5px;
}

.text-wrapper h3 {
  font-size: 46px;
  margin: 0 0 20px;
  line-height: 52px;
  text-transform: unset;
  font-weight: lighter;
  letter-spacing: 1px;
  color: #303030;
  margin-block-start: 1em;
}

.button {
  margin: 20px 0 0 0;
  padding: 0 20px;
  display: inline-block;
  position: relative;
  width: auto;
  height: 39px;
  line-height: 37px;
  border: 1px solid #303030;
  font-size: 11px;
  text-align: left;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 3px;
  background-color: rgb(48, 48, 43);
}

.button a {
  color: #FEFEFE;
  text-decoration: none;
}

.button:hover {
  background-color: #FEFEFE;
  border-color: rgb(48, 48, 43);
}

.button a:hover {
  color: rgb(48, 48, 43);
}
